@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abril+Fatface&family=Aguafina+Script&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abril+Fatface&family=Aguafina+Script&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abril+Fatface&family=Aguafina+Script&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}
html {
scroll-behavior: smooth;

}

:root {
  --color_1-primary: #fb5c00;
  --color_2-primary: #847777;
  --color_3-primary: #280b0b;
  --color_4-primary: #ffffff;
  --color_5-primary: #ff9151;
  --color_6-primary: #fee1d0;
  --color_7-primary: #fd8742;
  --color_8-primary: #967878;
  --color_9-primary: #efefef;
  --color-_10primary: #9d8b8b;
  --color-_11primary: #ff8c49;
  --color-_12primary: #000000;
  --color-_13primary: #7c6d6d;
  --color-_14primary: #e4b290;
  --color-_15primary: #f0ceb3;
  --color-_16primary: #ffd6a4;
  --color-_17primary: #ffefe8;
  --color-_18primary: #fffafa;
}

.container {
  max-width: 1260px;
  padding: 0 30px;
  margin: auto;
}

/* <-----------> */
.section-01 {
  background-color: #fcf8f7;
  min-height: 1633px;
  background-image: url(img/Portfolio.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 429px;
}

.header_content {
  display: flex;
  justify-content: space-between;
}

.header_1st {
  max-width: 700px;
  min-height: 829px;
  padding-left: 43px;
  position: relative;
}

.header_1st img {
  width: 529px;
}

.header_1st .dot img {
  width: 150px;
  height: 166px;
  position: absolute;
  right: -81px;
  bottom: 5px;
}

.navbar {
  float: right;
  padding-top: 30px;
  padding-right: 42px;
}

.navbar ul {
  display: flex;
  gap: 65px;
  align-items: center;
}

 
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}









.navbar a {
  font-size: 22px;
  line-height: 1.5387em;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  color: var(--color-_10primary);
}

.navbar #active:active {
  color: var(--color_3-primary);
}

.about {
  margin-top: 196px;
  margin-right: 200px;
}

.about h6 {
  font-size: 36px;
  line-height: 1.5555555555555556em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Aguafina Script", cursive;
  font-weight: 600;
  color: var(--color_5-primary);
}

.heading {
  background-image: url(img/Vector\ 173.png);
  background-repeat: no-repeat;
  padding-top: 22px;
}

.heading h1 {
  font-size: 100px;
  line-height: 110%;
  font-family: "Abril Fatface", serif;
  color: var(--color_3-primary);
  margin-top: -15px;
}

.about p {
  font-size: 22px;
  line-height: 160%;
  font-family: "ABeeZee", sans-serif;
  font-weight: 500;
  color: var(--color_2-primary);
  padding-top: 22px;
}

.buttom {
  padding-top: 54px;
}

.Email {
  background-color: var(--color_5-primary);
  padding: 17px 26px 12px 20px;
  border-radius: 28px;
  font-size: 18px;
  line-height: 1.5em;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  color: var(--color_4-primary);
}

.desing {
  background-color: var(--color_5-primary);
  background-color: transparent;
  padding: 17px 37px 12px 20px;
  border-radius: 28px;
  font-size: 18px;
  line-height: 1.5em;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  color: var(--color_5-primary);
  border: 1px solid var(--color_5-primary);
  margin-left: 22px;
}

/* HERO CONTENT STRAT  */

.hero_content {
  max-width: 1071px;
  height: 563px;

  margin-left: 231px;
  margin-top: 154px;
}

.hero_content h2 {
  text-align: center;
  font-size: 60px;
  line-height: 110%;
  font-family: "Abril Fatface", serif;
  font-weight: 600;
  color: var(--color_3-primary);
  padding-bottom: 27px;
}

.hero_content .hero_p {
  text-align: center;
  font-size: 22px;
  line-height: 130%;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: var(--color_2-primary);
}

.hero_cards {
  margin-top: 104px;
  min-height: 334px;
  display: flex;
  gap: 71px;
}

.hero_card {
  padding: 34px 36px 41px 40px;
  background-color: var(--color_4-primary);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card-2 {
  position: relative;
  bottom: 41px;
  background-color: #c87e53;
}

.card-2:hover {
  background-color: #ff040480;
}

.hero_card:nth-child(1):hover {
  background-color: #2c292910;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hero_card:nth-child(3):hover {
  background-color: #2c292910;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hero_card:nth-child(2) h3 {
  color: var(--color_4-primary);
}

.hero_card:nth-child(2) p {
  color: var(--color_4-primary);
}

.hero_card h3 {
  font-size: 28px;
  line-height: 160%;
  font-family: "Abril Fatface", serif;
  font-weight: 600;
  color: var(--color_3-primary);
  padding-top: 19px;
  padding-bottom: 17px;
}

.hero_card .tow {
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: var(--color_2-primary);
  padding-bottom: 8px;
}

.hero_card .one {
  font-size: 19px;
  line-height: 1.263157894736842em;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: var(--color_7-primary);
}

/* SECTION-02 STRAT  */
.section-02 {
  min-height: 610px;
  background-color: #fcf8f7;
  padding-top: 100px;
}

.sect2_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.main_img img {
  width: 450px;
  margin-left: 95px;
}

.secnd-img {
  position: relative;
  bottom: 119px;
}

.right-side {
  max-width: 500px;
}

.sect2_heading {
  position: relative;
}

.sect2_heading h2 {
  text-align: center;
  font-size: 50px;
  line-height: 120%;
  font-family: "Abril Fatface", serif;
  font-weight: 600;
  color: var(--color_3-primary);
}

.sect2_heading img {
  padding-left: 44px;
}

.sect2_heading h6 {
  position: absolute;
  bottom: 15px;
  left: 144px;
  font-size: 30px;
  line-height: 120%;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  color: var(--color_3-primary);
}

.sect2_heading h6 span {
  color: var(--color_2-primary);
}

.right-side p {
  font-size: 22px;
  line-height: 160%;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
  color: var(--color_2-primary);
}

.right-side_btn {
  padding-top: 53px;
}

.right-side_btn a {
  padding: 17px 37px 17px 43px;
  background-color: var(--color_5-primary);
  border-radius: 28px;
  font-size: 18px;
  line-height: 1.2em;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  color: var(--color_4-primary);
  box-shadow: rgba(238, 164, 68, 0.2) 0px 8px 24px;
}

/* SECTION-3 STRAT  */
.section-3 {
  background-image: url(img/design\\(1\).png);
  background-repeat: no-repeat;
  min-height: 1058px;
}

.sect-3_heading {
  background-image: url(img/Vector\173\\(1\).png);
  background-repeat: no-repeat;

  background-position: center;
  background-position-y: 0;
}

.sect-3_heading h2 {
  text-align: center;
  font-size: 60px;
  line-height: 120%;
  color: var(--color_3-primary);
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  padding-bottom: 16px;
  padding-left: 32px;
}

.sect-3_heading p {
  text-align: center;
  font-size: 22px;
  line-height: 160%;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: var(--color_2-primary);
}

.section-3_content {
  display: flex;
  gap: 50px;
}

.content-card {
  max-width: 370px;
  min-height: 601px;
  transition: 0.5s ease-in-out;
}

.content-card h6 {
  text-align: center;
  font-size: 30px;
  line-height: 160%;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  color: var(--color-_12primary);
}

.content-card p {
  text-align: center;
  font-size: 20px;
  line-height: 160%;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: var(--color_2-primary);
}

.content-card:hover {
  background-color: #c4dffb;
  box-shadow: 6px 5px 6px 5px #00000018;
  border-radius: 28px;
  color: #c9b5d8;
}

.section-3 .first:hover {
  padding-top: 30px;
}

.section-3 .second:hover {
  padding-top: 40px;
  background-color: #de7456;
}

.section-3 .third:hover {
  padding-top: 40px;
  background-color: #2b3240;
}

.secion-3_btn {
  text-align: center;
  padding-left: 45%;
  padding-top: 50px;
}

.animated-button .text {
  font-size: 18px;
  line-height: 1.2em;

  font-weight: 400;
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: #ff9151;

  box-shadow: #071c3b23 0px 7px 29px 0px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: rgb(255, 255, 255);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #e8622c;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #fff;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.section-4 {
  min-height: 551px;
  background-image: url(img/Promise.png);
  background-repeat: no-repeat;
  background-position: right;
}

.section-04_heading h5 {
  font-size: 50px;
  line-height: 120%;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  color: var(--color_3-primary);
}

.about_freelance {
  padding-top: 94px;
  display: flex;
  justify-content: space-between;
}

.first_about {
  display: flex;
  gap: 31px;
  max-width: 496px;
  min-height: 191px;
}

.secend_about {
  display: flex;
  gap: 31px;
  max-width: 521px;
  min-height: 191px;
}

.about-text h4 {
  padding-bottom: 21px;
  font-size: 30px;
  line-height: 120%;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  color: var(--color_3-primary);
}

.about-text p {
  font-size: 22px;
  line-height: 160%;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: var(--color_2-primary);
}

.first_about .one a {
  background-color: var(--color_5-primary);
  padding: 11px 22px 10px 24px;
  font-size: 30px;
  line-height: 120%;
  font-family: "Abril Fatface", serif;
  font-weight: 300;
  color: var(--color_4-primary);
  border-radius: 40px;
}

.secend_about .one a {
  background-color: var(--color_5-primary);
  padding: 11px 22px 10px 24px;
  font-size: 30px;
  line-height: 120%;
  font-family: "Abril Fatface", serif;
  font-weight: 300;
  color: var(--color_4-primary);
  border-radius: 40px;
}

.exprience {
  padding-top: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.exprience h6 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 60px;
  list-style: 120%;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  color: var(--color_3-primary);
}
.exprience h6 span {
  font-size: 22px;
  line-height: 120%;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: var(--color_2-primary);
  color: var(-);
}

.section-silder {
  margin-top: 100px;
  overflow: hidden;
  background-image: url(img/Reviews.png);
  background-repeat: no-repeat;
}

.silder-prent {
  min-height: 500px;
  background-image: url(img/Vector.png);
  background-repeat: no-repeat;
}



 







 

.section-footer {
  min-height: 400px;
  padding-top: 100px;
  background-image: url(img/Contact.png);
  background-repeat: no-repeat;
  background-position: right;
}


 
.footer-content  h4 {
  font-size: 80px;
  line-height: 120%;
  font-family: "Abril Fatface", serif;
  color: var(--color-_12primary);
  text-align: center;
  font-weight: 400;

}
.footer-content  p {
  font-size: 22px;
  line-height: 160%;
  font-family: "Roboto Flex", sans-serif;
  color: var(--color_2-primary);
  text-align: center;
  font-weight: 400;
  padding-top: 11px;

}
.footer-content  p span  {
font-size: 25px;
line-height: 1.2em;
font-family: "Aguafina Script", cursive;
font-weight: 500;
color: var(--color_5-primary);
}



.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
 padding-left: 0%;
 padding-top: 0px;
 transition: 1.0s ease-in-out;
 cursor: pointer;
}

.main:hover{
  padding-left: 40%;
  padding-top: 20px;
}


.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.github {
  margin-top: -.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.discord {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03A9F4;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}


